
{% extends "yinc/indexOrignal.html" %}

{% block shoes %}
{% load staticfiles%}
<div id="page-wrapper" ng-app="yincApp">
  <script src="{% static 'yinc/angular/app/app.module.js' %}"></script>
  <script src="{% static 'yinc/angular/app/shoe-list/shoe-list.module.js' %}"></script>
  <script src="{% static 'yinc/angular/app/shoe-list/shoe-list.component.js' %}"></script>
    <div class="container-fluid">
        <div class="row">
        <br><br><hr><br>
        <shoe-list></shoe-list>
        
        </div>     
    </div>
</div>
{% endblock %}